<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiLogAwardMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.platform.entity.LogAwardVo" id="logMap">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="stakeType" column="stake_type"/>
        <result property="selectType" column="select_type"/>
        <result property="gameNum" column="game_num"/>
        <result property="awardDesc" column="award_desc"/>
        <result property="dogNum" column="dog_num"/>
        <result property="trackNum" column="track_num"/>
        <result property="pourNum" column="pour_num"/>
        <result property="odds" column="odds"/>
        <result property="money" column="money"/>
        <result property="address" column="address"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="queryObject" resultMap="logMap">
        select * from log_award where id = #{value}
    </select>

    <select id="queryList" resultMap="logMap">
        select * from log_award where 1 = 1
        <if test="gameNum != null and gameNum != ''">
            and `game_num` = #{gameNum}
        </if>
        <if test="address != null and address != ''">
            and `address` = #{address}
        </if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(1) from log_award where 1 = 1
        <if test="gameNum != null and gameNum != ''">
            and `game_num` = #{gameNum}
        </if>
        <if test="address != null and address != ''">
            and `address` = #{address}
        </if>
    </select>

    <delete id="delete">
        delete from log_award where id = #{value}
    </delete>

</mapper>
